# PyCharm folder
.idea

# Comipled code
*.pyc

# Datasets
*.fits
*.vot

# Images
*.jpg
*.png

# Temporary
.~lock*

# Log files
*.log
logfile

# Other
settings.py
login.cl
pyraf
reductions
uparm
utils/CNN_train
